
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  
  /* Media query for mobile and tablet screens */
  @media only screen and (max-width: 768px) {
    .container {
      width: 80%;
    }
  }

  @media only screen and (max-width: 508px) {
    .container {
      width: 60%;
    }
  }
  