@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Montserrat:wght@100;400&family=Poltawski+Nowy:wght@500&family=Poppins:wght@200;400&family=Tiro+Devanagari+Sanskrit&family=Titan+One&display=swap');
.home-divide{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 100px;
}

.home-right{
    width:40%;
}

.home-img{
    height: 500px;
    width: 100%;;
}

.home-left{
    margin-top: 100px;
    width: 50%;
}

h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #940B92;
    text-align: center;
    font-weight: bold;
}

.home-desc{
    font-size: 18px;
    font-family:'poppins'
}

.chip{
    margin-left: 8px;
}

.image-container {
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
}

.image {
    flex: 0 0 auto; 
    margin-right: 30px; 
    width: 100px;
    height: 100px;
}

.comp-desc{
    text-align: center;
    font-size: 20px;
}


/* .card{
    height: 350px;
    text-align: center;
}

.card-image{
    height: 250px;
} */

.btn{
    /* background-color: #940B92; */
    background-color: #754e85;
}

.FAQ-title{
    text-align: center;
    color: #940B92;
}

.accordion-section{
    margin-top: 70px;

}

  
.App{
    display: flex;
    margin-top: 50px;
}

.chart-container{
    flex: 0 1 48%;
    justify-content: center;
    height: 350px;
}

.stat-card{
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    margin-right: 15px;
}

.stats{
    display: flex;
    align-items: center;
    justify-content: center;
}

#one{
    background-color: #f5365c ;
}

#two{
    background-color: #ffd600;
}

#three{
    background-color: #24a46d;
}

.ratings-average{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(21, 21, 21, 0.7);
}

.ratings h2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
}

.css-dpdynl {
    margin-right: 10px;
}

/* OrderHistory.css */

.wrapp {
    padding: 20px;
  }
  
  .history-cards {
    display: flex;
    flex-direction: column;
  }
  
  .history-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }
  
  .history-items {
    display: flex;
    align-items: center;
  }
  
  .item {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .item h3 {
    margin-bottom: 5px;
    font-family:  'Poppins', sans-serif;
    font-size: 18px;
  }
  
  .item-image img {
    width: 150px;
    height: 150px;
  }
  
  .history-card{
    display: flex;
  }

  .history-items{
    margin-bottom: 10px;
  }
  .history-card2{
    /* display: flex; */
    padding-bottom: 10px;
  }

  .titlePrice{
    margin-left: 10px;
  }

  #trackBtn{
    border: none;
    background-color: black;
    color: whitesmoke;
    padding: 8px;
  }
  
  a{
    color: blue;
    text-decoration: underline;
  }
  #footer{
    margin-top: 90px;
}